    {% extends 'base/base.html' %}
{% load static %}
{% block title %}
    <title>公司简介</title>
    <head>
    <link rel="stylesheet" href="{% static 'css/about.css'%}"/>
    </head>
{% endblock %}

{% block content %}
   <section class="home-main-contant-style bg-white" id="top">
           <div class="container" id="allcontent">
            <div id="wrapper">
              <div class="left">
                        <div class="left_box">
                          <div class="left_title">关于我们</div>
                          <div class="left_cont">
                            <script src="js/test.js" type="text/javascript"></script>
                            <div id="PARENT">
		                               <ul id="menu">

                                <li><a href="{% url 'companyinfo' 1  %}">公司简介</a>
                                            </li>
                                        <li><a href="{% url 'companyinfo' 2 %}">公司文化</a>
                                        </li>
                                        <li><a href="{% url 'companyinfo' 3 %}">品牌与资质</a>
                                            </li>
                                        <li><a href="{% url 'companyinfo' 4 %}">资源与优势</a>
                                            </li>
                                        <li><a href="{% url 'contact' %}">联系方式</a>
                                            </li>
                                      </ul>

                            </div>
                          </div>
                          <div class="clear"></div>
                        </div>
                        <div class="tu">
                        <img src="{% static 'images/about/corn2.jpg' %}">
                        </div>
              </div>
              <div class="right">
                  <div class="r_title">关于我们->{{ ctopic.text }}</div>
                  <div class="r_con">

                     <table width="100%">

                         <tbody>

                                <tr>
                                    {% for info in infolist %}
                                    <td>
                                        <p>
                                        &nbsp; &nbsp; &nbsp; &nbsp;{{ info.text }}<img src="{% static '/media/' %}{{ info.pic }}" style="margin-left: 10px; float: right; width: 259px;height: 198px"><br></p>

        {#                        <img alt="" src="../static/images/about/about.jpg" style="width: 738px; height: 314px;"></p>#}
                                    </td>
                                    {% endfor %}
                                </tr>

                         </tbody>

                     </table>

                  </div>
              <div class="clear"></div>
            </div>
        </div>
    </section>

{% endblock %}

{% block js %}
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=LSDGmwddtvMHxHGX7Io0fVpIoCe0cOuG"></script>
    <script type="text/javascript" src="{% static 'js/baidu-map.js' %}"></script>
{% endblock %}