    {% extends 'base/base.html' %}
{% load static %}
{% block title %}
    <title>公司简介</title>
    <head>
    <link rel="stylesheet" href="{% static 'css/about.css'%}"/>
    </head>
{% endblock %}

{% block content %}
   <section class="home-main-contant-style bg-white" id="top">
           <div class="container" id="allcontent">
            <div id="wrapper">
              <div class="left">
                        <div class="left_box">
                          <div class="left_title">关于我们</div>
                          <div class="left_cont">
                            <script src="js/test.js" type="text/javascript"></script>
                            <div id="PARENT">
		                               <ul id="menu">

                                <li><a href="/alone/alone.php?id=20">公司简介</a>
                                            </li>
                                        <li><a href="/alone/alone.php?id=86">公司文化</a>
                                        </li>
                                        <li><a href="/article/article.php?id=23">品牌与资质</a>
                                            </li>
                                        <li><a href="/alone/alone.php?id=87">资源与优势</a>
                                            </li>
                                        <li><a href="/alone/alone.php?id=25">联系方式</a>
                                            </li>
                                      </ul>

                            </div>
                          </div>
                          <div class="clear"></div>
                        </div>
                        <div class="tu">
                        <img src="../static/images/about/corn2.jpg">
                        </div>
              </div>
              <div class="right">
                        <div class="r_title">关于我们</div>
                        <div class="r_con">

                     <table width="100%">
                        <tbody><tr><td><p>
                        <img src="../static/images/about/about.jpg" style="margin-left: 10px; float: left;width: 212px;height: 198px;">&nbsp; &nbsp; &nbsp; &nbsp;保龄宝生物股份有限公司创建于1997年，简称“保龄宝”、“保龄宝生物”。是以生物多糖为主导的"国家级重点高新技术企业"、农业产业化国家重点龙头企业。国内首家实现低聚糖工业化生产、国内同行业首家A股上市公司。业内率先通过美国FDA现场审核。 <img src="../static/images/about/corn.jpg" style="margin-left: 10px; float: right;"><br>
                        &nbsp; &nbsp; &nbsp; &nbsp;建有国家认定企业技术中心、国家糖工程研究中心、国家地方联合工程实验室等科研机构，设有院士工作站、博士后工作站及“泰山学者”岗位，构建形成了“创意、创新、创造、创领、创客”五位一体的创新体系。低聚麦芽糖、高纯度低聚异麦芽糖、发酵法谷氨酰胺等3种产品先后填补国内空白，有40多项发明专利获得国家授权，主持或参与制定国际、国家标准20余项，是中国功能糖产业当之无愧的奠基人和领军者。<br>
                        &nbsp; &nbsp; &nbsp; &nbsp;公司立足现货业务开发金融属性，立足实体平台开发资本属性，立足核心业务开发产业属性。通过合资合作和业务扩展，产业链条已覆盖生物制造、特医保健食品、金融、进出口、饲料、检测服务等多个领域。先后被评为中国轻工业百强企业、中国营养健康产业30强企业、中国淀粉糖行业20强企业、两化融合管理体系贯标企业、国家知识产权优势企业；“保龄宝”品牌被认定为“中国驰名商标”和“山东省著名商标”，列入首批山东省知名农产品品牌。</p>
                    <p>
                        &nbsp;</p>
                    <p>
{#                        <img alt="" src="../static/images/about/about.jpg" style="width: 738px; height: 314px;"></p>#}
                    </td></tr>
                      </tbody></table>

                      <div class="page_fy" style="float:none;margin-left:300px;">
                          </div>
                      <div class="clear"></div>
                        </div>
                        <div class="clear"></div>
              </div>
              <div class="clear"></div>
            </div>
        </div>
    </section>

{% endblock %}

{% block js %}
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=LSDGmwddtvMHxHGX7Io0fVpIoCe0cOuG"></script>
    <script type="text/javascript" src="{% static 'js/baidu-map.js' %}"></script>
{% endblock %}