{% extends 'base/base.html' %}
{% load static %}
{% block title %}
    <head>
<link rel="stylesheet" href="{% static 'css/about.css'%}"/>
    </head>
    <title>招贤纳士</title>
{% endblock %}

{% block content %}
 <section class="home-main-contant-style bg-white" id="top">
           <div class="container" id="allcontent">
            <div id="wrapper">
              <div class="left">
                        <div class="left_box">
                          <div class="left_title">招贤纳士</div>
                          <div class="left_cont">
                            <script src="js/test.js" type="text/javascript"></script>
                            <div id="PARENT">
		                               <ul id="menu">

                                <li><a href="{% url 'jobinfo' 14 %}">招聘信息</a>
                                            </li>
                                        <li><a href="{% url 'jobinfo' 15 %}">应聘指南</a>
                                        </li>
                                        <li><a href="{% url 'jobinfo' 16 %}">员工培训</a>
                                            </li>
                                        <li><a href="{% url 'jobinfo' 17 %}">生涯规划</a>
                                            </li>
                                        <li><a href="{% url 'jobinfo' 18 %}">人才政策</a>
                                            </li>
                                           <li><a href="{% url 'jobinfo' 19 %}">人才战略</a>
                                            </li>
                                      </ul>

                            </div>
                          </div>
                          <div class="clear"></div>
                        </div>
                        <div class="tu">
                        <img src="{% static 'images/about/corn2.jpg' %}">
                        </div>
              </div>
              <div class="right">
                  <div class="r_title">招贤纳士->{{ ctopic.text }}</div>
                  <div class="r_con">
                     <table width="100%">
                              <tbody>
                              {% for job in infolist %}
                                <tr>
                                    <td>
                                        <div>
                                            {% autoescape off %}
                                            &nbsp; &nbsp;{{ job.text }}
                                            {% endautoescape %}
                                        </div>
                                    </td>
                                </tr>
                              {% endfor %}
                              </tbody>
                     </table>
                </div>
              <div class="clear"></div>
            </div>
        </div>
    </section>

{% endblock %}