{% extends 'base/base.html' %}
{% load static %}
{% block title %}
    <title>招贤纳士</title>
{% endblock %}

{% block content %}
    <div class="container" style="margin-top: 80px">
        <div class="col-md-3" id="catalog">
            <ul class="nav nav-tabs nav-stacked list-group" data-spy="affix" data-offset-top="0" style="width: 240px">
                <li class="list-group-item"><a href="#section-1">招聘信息</a></li>
                <li class="list-group-item"><a href="#section-2">应聘指南</a></li>
                <li class="list-group-item"><a href="#section-3">员工培训</a></li>
                <li class="list-group-item"><a href="#section-4">生涯规划</a></li>
                <li class="list-group-item"><a href="#section-5">人才政策</a></li>
                <li class="list-group-item"><a href="#section-6">人才战略</a></li>
            </ul>
        </div>

        <div class="col-md-9">
            <section class="home-main-contant-style" id="section-1">
                <div class="headline-left mb30">
                    <h2 class="headline-brd">招聘信息</h2>
                    <p>本公司常年招聘各类人才，有如下岗位：饲料添加剂销售人员、技术支持（饲料添加剂）、品控人员、技术支持（食品）、研发人员（食品）、终端品销售人员、项目申报专员</p>
                </div>
                <ul class="lists-item mb30">
                    <li>联系人：申教授</li>
                    <li>电话：（+86）138-6937-1960</li>
                    <li>电子邮件：shendc@126.com</li>
                    <li>邮编：255000</li>
                    <li>地址：淄博高新区四宝山街道办事处东张村工业园</li>
                </ul>
            </section>

            <section class="home-main-contant-style" id="section-2">
                <div class="headline-left mb30" id="section-2">
                    <h2 class="headline-brd">应聘指南</h2>
                    <p>应聘方式：</p>
                </div>
                <ul class="lists-item mb30">
                    <li>1)、通过与本公司合作的专业招聘网站，点击相关招聘信息，进行网上投递简历。</li>
                    <li>2)、通过shendc@126.com电子信箱直接发送个人简历(简历上请务必注明应聘职位)。</li>
                    <li>3)、直接登录本公司招募网站，点击招募信息，进行简历投递。</li>
                    <li>4)、通过信件方式将个人简历(请务必注明应聘职位)、近期正面免冠照片、身份证、学历、学位证书、相关资格证书等相关证件的复印件传真或邮寄至本公司人力资源部。</li>
                </ul>
            </section>

            <section class="home-main-contant-style" id="section-3">
                <div class="headline-left mb30">
                    <h2 class="headline-brd">员工培训</h2>
                    <p>人才是企业最重要的一种资源，培训则是充分发挥和挖掘人才潜能的前提和基础。因此，保龄宝公司尤其重视对员工的培训和学习。</p>
                    <p>对员工进行专业性的培训，进行人力资源的有效开发与利用是实现“人力成本”到“人力资本”过度转化的重要途径，也是实现人力资本价值增值的有效方式。它既是企业自身持续发展的需要，更是员工不断完善自我、提升个人专业技能和综合素质的需要。保龄宝公司的培训体系致力于构建学习型组织，打造一只卓越、高效的精英团队。</p>
                    <p>淄博汇创公司的培训体系目前实行公司、事业部、班组三级培训。根据参训人员的不同主要可以分为以下几类：新员工培训、生产一线普通员工培训、技术人员培训、管理人员培训、营销人员培训。</p>
                </div>
            </section>

            <section class="home-main-contant-style" id="section-4">
                <div class="headline-left mb30">
                    <h2 class="headline-brd">生涯规划</h2>
                    <p>进入21世纪，人才已经成为制约企业发展的关键性因素。面对人才竞争日益激烈 的今天，保龄宝公司的人力资源管理体系在不断发展、完善的过程中已经开始专注于员工职业生涯规划的开发与建设工作，并将其列为人力资源部门的工作重点和公司的战略组成部分，指导员工制定自己的职业生涯发展计划，以此来平衡、协调使之与组织的发展目标相结合，进而打造一只集凝聚力、向心力、创新力于一体的专业化、标准化、职业化的卓越团队，更有效地调动员工的积极性、主动性和创造性。在员工职业生涯规划方面，保龄宝已大致形成了如下认识：</p>
                </div>
                <ul class="lists-item mb30">
                    <li>1、对员工的个性特征、倾向性、工作能力及未来发展潜力进行有效的测定和评价；</li>
                    <li>2、在了解员工综合素质的基础上，为员工量身制定个人职业生涯发展规划，协助并指导员工进行目标设定；</li>
                    <li>3、开展基于员工个性的有针对性的培训教育和人力资源开发，而且培训开发的范围较宽阔，既包括专业技能训练。</li>
                </ul>
            </section>

            <section class="home-main-contant-style" id="section-5">
                <div class="headline-left mb30">
                    <h2 class="headline-brd">人才政策</h2>
                    <p>员工是企业的珍贵财富，保龄宝的发展离不开每一名忠诚、优秀的淄博汇创人。淄博汇创的十年发展史，实际上就是淄博汇创人干事创业、拼搏进取、勇于奉献的创业史。我们坚信：企业发展靠员工、员工生存靠企业，二者互惠互融。企业是员工干事创业的平台、演绎人生价值的舞台，展示自我的擂台；员工是企业生产系统中最活跃的因素，是促进企业持续发展的源动力，是推动企业改革创新的生力军。</p>
                    <p>在淄博汇创这个大家庭里，无论员工在生活上、工作上还是家庭上遇到困难，公司都会给与及时的帮助。而在选拔、奖励、职位晋升以及薪酬的增加方面，不看“人情”，只看“业绩”，完全取决于个人工作能力的大小和对公司贡献的大小。保龄宝愿提供广阔的发展空间以吸引优秀人才的加盟！</p>
                </div>
                <ul class="lists-item mb30">
                    <li style="color: red; font-size: 15px"><b>1、薪酬规定</b></li>
                    <li>进入保龄宝公司的新员工试用期一般为3个月，业绩优秀者也可提前转正。试用期结束，公司对其实行考核，根据员工在任职岗位的胜任程度靠岗、靠级、定薪，根据公司《薪酬管理制度》中规定的有关学历、工作经验、工作业绩、工作能力、工作态度等要素确定该员工在其所对应工资等级中的工资档级。对于有特殊技能者、科技拔尖人才以及公司急需的特殊人才，可突破《薪酬管理制度》标准，由总经理根据人才市场情况、个人工作业绩和公司发展的需要决定。</li>
                    <li style="color: red; font-size: 15px"><b>2、福利待遇</b></li>
                    <li>1)、公司为正式员工缴纳养老、医疗、工商等社会保险。</li>
                    <li>2)、公司根据岗位工作需要为员工提供通讯补贴、交通补贴、住宿补贴以及免费午餐。</li>
                    <li>3)、每年末，公司根据当年经营目标和利润完成情况发放年终奖、突出贡献奖、销售业绩奖、技术研发奖等不同类别的奖金。</li>
                    <li>4)、公司根据工作的需要，统一组织管理、技术、营销、生产等不同层次的人员外出参观、培训学习和进行国内外考察。</li>
                    <li>5)、享受公司有关制度规定的其他相关待遇。</li>
                    <li style="color: red; font-size: 15px"><b>3、激励措施</b></li>
                    <li>1)、销售业绩奖：用来奖励从事直接销售工作的销售业绩突出的员工，以激发员工的工作积极性、主动性。</li>
                    <li>2)、技术研发奖：主要奖励从事技术研发工作岗位的团队或个人，对人才的科技创新成果给予物资和精神奖励。 </li>
                    <li>3)、绩效标兵奖：是给季度工作业绩突出者的奖励。除获得一定的物质奖励外，还可以参加公司安排的国内或国外集体旅游。</li>
                    <li>4)、特殊贡献奖：特殊贡献奖用于奖励在工作中有突出贡献、对公司创造额外价值的员工，由部门负责人根据员工的特殊贡献进行申报，并经公司总裁审批后执行。</li>
                    <li>5)、合理化建议奖：用于奖励对公司发展提供合理化建议并由公司采纳的员工，为人才发挥聪明才智和潜能提供良好舞台</li>
                    <li>6)、星级员工激励奖：主要用于因业绩优秀、技能精湛而被评选为星级员工的一线技术操作能手，公司分别给予星级补助。</li>
                </ul>
            </section>

            <section class="home-main-contant-style" id="section-6">
                <div class="headline-left mb30">
                    <h2 class="headline-brd">人才战略</h2>
                    <p>- 淄博汇创公司人才观：鼓励成长、因才适用。</p><br>
                    <p>- 淄博汇创公司人才机制：让平凡者成功，让成功者卓越</p><br>
                    <p>- 淄博汇创公司用人机制：“赛马不相马”、“优胜劣汰”的用人机制。亦即让员工各唱各的拿手戏，各打各的优势仗，张扬个性，释放潜力，实现企业发展壮大和员工成长成才的价值统一。</p>
                </div>
                <p style="color: red; font-size: 15px"><b>淄博汇创公司用人策略：搭建平台，提供机会；创造竞争，选能用好。</b></p><br>
                <p>- 打造事业平台，让每个人成为自己的CEO，经营自我，体现价值。</p><br>
                <p>- 基础看学历，成长看能力，业绩看贡献。外部招聘与内部培养相结合，对标学习及专业培训常态化，为人才持续成长创造机会与条件。</p><br>
                <p> - 选用能人中的好人。企业首先要满足商业需要，选人育人的眼界限定在可以创造更高价值的“能人”之中，同时，注重人的德行操守，重点选拔启用能够认同和体现企业价值观的人。</p><br>
                <p>- 是不是人才，要靠实践和贡献说话。一切讲究实际实用实效，合适的就是最好的。</p>
            </section>
        </div>
    </div>
{% endblock %}