{% extends 'base/base.html' %}
{% load static %}

{% block title %}
    <head>
     <link rel="stylesheet" href="{% static 'css/about.css'%}"/>
    </head>
    <title>产品服务</title>
{% endblock %}

{% block content %}
    <section class="home-main-contant-style bg-white" id="top">
           <div class="container" id="allcontent">
            <div id="wrapper">
              <div class="left">
                        <div class="left_box">
                          <div class="left_title">产品服务</div>
                          <div class="left_cont">
                            <script src="js/test.js" type="text/javascript"></script>
                            <div id="PARENT">
                               <ul id="menu">

                                        <li><a href="{% url 'listinfo' 6 %}">葡萄糖浆系</a>
                                            </li>
                                        <li><a href="{% url 'listinfo' 7 %}">麦芽糖浆系</a>
                                              </li>
                                        <li><a href="{% url 'listinfo' 8 %}">果葡糖浆系</a>
                                            </li>
                                        <li><a href="{% url 'listinfo' 9 %}">低温挤出酶解糖浆原料</a>
                                            </li>
                                   <li><a href="{% url 'listinfo' 10 %}">酒精原料生产淀粉糖工艺</a>
                                            </li>
                                   <li><a href="{% url 'listinfo' 11 %}">酒精原料生产酒精工艺</a>
                                            </li>
                                        <li><a href="{% url 'listinfo' 12 %}">单螺杆挤压设备</a>
                                            </li>
                                      </ul>

                            </div>
                          </div>
                          <div class="clear"></div>
                        </div>
                        <div class="tu">
                        <img src="{% static 'images/about/corn2.jpg' %}">
                        </div>
              </div>
              <div class="right">
                  <div class="r_title">产品服务->{{ ctopic.text }}</div>
                  <div class="r_con">

                         <table width="100%">
                                <tbody>
                                   <tr>
                                       {% for service in infolist %}
                                       <td>
                                                <p>
                                                  &nbsp; &nbsp; &nbsp; &nbsp;{{ service.text }} <img src="{% static '/media/' %}{{ service.pic }}" style="margin-left: 10px; float: right; width: 259px;height: 198px"><br>
                                                </p>

                                       </td>
                                       {% endfor %}
                                   </tr>
                              </tbody>
                         </table>

                  </div>
                  <div class="clear"></div>
            </div>
        </div>
    </section>
{% endblock %}