{% extends 'base/base.html' %}
{% load static %}

{% block title %}
    <title>产品服务</title>
{% endblock %}

{% block content %}
    <section class="home-main-contant-style bg-white">
        <div class="container">
            <div class="cd-home-title">
                <h2>产品服务</h2>
            </div>
            <div class="col-md-3">
                <ul class="list-group">
                    <li class="list-group-item"><a href="#">葡萄糖浆系</a></li>
                    <li class="list-group-item"><a href="#">麦芽糖浆系</a></li>
                    <li class="list-group-item"><a href="#">果葡糖浆系</a></li>
                    <li class="list-group-item"><a href="#">低温挤出酶解糖浆原料</a></li>
                    <li class="list-group-item"><a href="#">酒精原料生产淀粉糖和酒精的工艺</a></li>
                    <li class="list-group-item"><a href="#">单螺杆挤压设备</a></li>
                </ul>
            </div>
            <div class="col-md-9">
                <p>
                    产品一：葡萄糖浆、高DX值葡萄糖浆、麦芽糖浆、超高麦芽糖浆、果葡糖浆的生产、销售；
本项目技术产品优势：① 低温挤出酶解干法脱胚玉米挤出物代替淀粉生产高DX值葡萄糖糖浆（DX ≥96.5%）和超高麦芽糖浆(麦芽糖含量≥ 90%)；② 消除淀粉生产排水污染环境和硫化物残留淀粉和淀粉糖中，避免二氧化硫在人体内转化成致癌物质—亚硝酸；③ 生产中试表明：本项目技术省去能耗较高的喷射液化过程，生产生态绿色淀粉糖浆（如高DX值葡萄糖浆、超高麦芽糖浆等）且糖化时间仅为现有技术的淀粉糖化所需时间的1/4～2/3 ； ④ 本项目技术成果经专家鉴定，达到国际领先水平（2007，2013）;⑤ 分析表明：生产成本比现有技术降低成本约200元/吨糖浆(浓度75%)；⑥ 分析表明：1吨糖浆节省1吨水、10度电、蒸汽0.254吨蒸气。
产品二：低温挤出酶解糖浆原料、酒精原料生产淀粉糖和酒精的工艺过程设计、施工、售后服务；
产品三：单螺杆挤压设备的设计、制造、销售、服务（生产率60～3000kg/h）。
上述服务项目和产品的价格，面议。
                </p>
            </div>
        </div>
    </section>

    <section class="home-main-contant-style bg-white">
        <div class="container">
            <div class="cd-home-title">
                <h2>售后保障</h2>
            </div>
            <div>
                <ul>
                    <li>1、我方承诺向使用单位带给的产品，保证贴合国家颁布的相应行业标准、条例及规范。</li>
                    <li>2、我方带给的产品，保证贴合招投标文件及合同的要求，如有不符，使用单位能够无条件退货，所造成的损失由我方承担。</li>
                    <li>3、我方若中标，保证不会转包或擅自改变设计方案，不会降低质量要求。实际施工中，确需对方案作进一步调整的，保证经由使用单位书面确认后才作调整，中标价格不作变动，价格若要变动，保证经由使用单位同意。</li>
                    <li>4、我方到现场施工所有的劳务支出、安全保险、住宿、运输等一切费用都已包含在投标报价中，由我方自行负责。[由www.duanmeiwen.com整理]</li>
                    <li>5、工程保证在合同签订后20天内完工，如不能按期完工(除不可抗力的因素外)，我方愿意承担违约职责，每逾期一天，扣罚中标价的1%违约金给采购人。如我方工程不能按时完工，因使用单位原因引起工程延期、则工期相应延期。</li>
                    <li>6、我方同意招标人付款方式要求，签订合同后，付总货款的10%，设备安装完毕验收后，付至总货款的75%，大楼竣工使用一年后付至总货款的95%，剩余的5%在产品质保期满后付清。</li>
                    <li>7、我方承诺：产品质保期限为货到验收合格起三年。质保期间，负责免费维修，若属产品本身缺陷而给使用单位造成损失，则我方愿赔偿给使用单位所造成的损失。我方保证带给质保期后维修保养服务的方案。</li>
                    <li>8、其他特殊优惠措施：工程完工后，将派专业维修人员长住新昌，并定期对相关设备进行检查维修。</li>
                </ul>
            </div>
        </div>
    </section>
{% endblock %}