{% extends 'base/base.html' %}
{% load static %}
{% block title %}
        <head>
    <link rel="stylesheet" href="{% static 'css/about.css'%}"/>
        <style>
            .list5 {
            float: left;
            width: 700px;
        }
        </style>
    </head>
    <title>新闻媒体</title>
{% endblock %}

{% block content %}
    <section class="home-main-contant-style bg-white" id="top">
         <div class="container" id="allcontent">
            <div id="wrapper">
              <div class="left">
                        <div class="left_box">
                          <div class="left_title">媒体新闻</div>
                          <div class="left_cont">
                            <script src="js/test.js" type="text/javascript"></script>
                            <div id="PARENT">
                               <ul id="menu">

                                <li><a href="/alone/alone.php?id=20">公司动态</a>
                                            </li>
                                        <li><a href="/alone/alone.php?id=25">技术研究推广</a>
                                            </li>
                                      </ul>

                            </div>
                          </div>
                          <div class="clear"></div>
                        </div>
                        <div class="tu">
                        <img src="../static/images/about/corn2.jpg">
                        </div>
              </div>
              <div class="right">
                        <div class="r_title">媒体新闻</div>
                        <div class="r_con">
                            <div class="list5">
                                 <ul class="icons-list">>
                                     {% for news in newslist %}
                                     <li><a href="{% url 'article' news.id %}">{{ news.title}} <span class="pull-right">{{ news.date}}</span></a></li>
                                    {% empty %}
                                    <li>没有内容</li>
                                     {% endfor %}
                                 </ul>
                            </div>
                        </div>
                        <div class="clear"></div>
              </div>
              <div class="clear"></div>
            </div>
        </div>
    </section>

{% endblock %}